//Colours
$buttonActiveColor: rgb(97, 143, 243);
$buttonHoverColor: royalblue;
$buttonDisableColor: rgb(184, 184, 184);
$buttonTextColor: white;

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(240, 240, 240);
}